.popup__InfoTooltip-text {
  max-width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-bottom: 60px;
}

@media (max-width: 905px) {
  .popup__InfoTooltip-text {
    font-size: 22px;
  }
}